@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .collapseContent {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2 ease-out;
        -webkit-transition: max-height 0.2 ease-out;
        -moz-transition: max-height 0.2 ease-out;
        -ms-transition: max-height 0.2 ease-out;
        -o-transition: max-height 0.2 ease-out;
    }
    .maxHeight-0 {
        max-height: 0;
    }
}
